{% extends 'base.html' %}
{% block title %}Casa de Cultura - Recuperação de Senha{% endblock title %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'my_style_login.css' %}">
{% endblock head %}

{% block content %}

<div class="isolate px-3 py-8 sm:py-12 drop-shadow-lg w-full md:w-6/12">
    <div class="section_left">
        <section class="login_card">
            <h2><b>Esqueceu sua senha?</b></h2>
            <div id="loading">
                <div class="loader">
                </div>
            </div>
            {% if validlink %}

            <form method="post" class="login_form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">
                    Enviar
                </button>
            </form>
            {% else %}

            <p>O link de redefinição de senha já foi usado. Solicite uma nova redefinição de senha.</p>

            {% endif %}
            <a href="{% url 'login' %}" class="text-md text-blue-700 hover:underline ml-auto">Voltar ao login</a>
        </section>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
{% endblock content %}