:root{
    --cinza: #F3F3F3;
    --laranja: #1D4ED8;
    --cinza_escuro: #636363;

}

html{
    font-family: 'Montserrat', sans-serif;
}

div{
    display: flex;
    gap: 0.2em;
}
body{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    color: var(--laranja);
    align-items: center;
    justify-content: center;
}
b{
    font-weight: bold;
}



input{    
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--cinza);
    outline: 0;
    font-size: 1.2rem;
    color: var(--cinza_escuro);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

input:focus{
    border: 0;
    border-bottom: 2px solid var(--cinza_escuro);
    transition:all 0.2s;
}


.front_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    min-height: 100vh;
    background-color: var(--cinza);
    padding: 1.5em;
    border-radius: 50px;
    gap: 1.5em;   
}

.front_card h1{
    font-size: 1.8em;
}





.indicador_img{
    width: 80%;    
    animation: float 3s ease-in-out infinite;
}

@keyframes float{
	0%,100%{
		
		transform:translatey(0)
	}
	50%{
		
		transform:translatey(-20px)
	}
}

@media screen and (max-width: 1500px){
    .indicador_img{
        height: auto;
        max-width: 100%;    
    }
    
}




.logo img{
    height: 10vh;
}

.section_left{
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.login_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2em;
    align-items: center;
    border-radius: 16px;
    gap: 2em;
}

@media only screen and (max-width: 900px){
    .login_card{
        width: 90%;
    }
}

.login_card h2 {
    font-size: 1.8em;
}

.login_form{
    flex-grow: 1;
    gap: 2em;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.login_form p label::after{
    content: '\A';
    white-space: pre;
}

.login_form p{
    width: 100%;
    font-weight: 500;
}

.login_form p input{
    width: 100%;
}

.login_form button{
    height: 2em;
    background-color: var(--laranja);
    color: #ffff;
    border-radius: 5px;
}

@media only screen and (min-width: 700px){
    .mobile_card{
        display: none;
    }
    
}


@media only screen and (max-width: 700px){
    .login_card{
        width: 100%;
    }
    .front_card{
        display: none;
    }
    .section_left{
        width: 100%;
    }

    .mobile_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--cinza);
        border-radius: 16px;
        width: 100%;
        justify-content: center;
        padding: 1em;
        gap: 0.5em;
    }
    .mobile_card>img{
        height: auto;
        width: 65%;
    }
    .mobile_logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }
    .mobile_logo h1{
        text-align: center;
        font-size: 2.5em;
    }
    .logo img{
        height: 75px;
    }
}

@media only screen and (max-width: 500px){
    .mobile_logo h1{
        font-size: 2em;
    }
    .logo img{
        height: 50px;
    }
    .mobile_card>img{
        height: auto;
        width: 90%;
    }
}


#loading {
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.loader {


    margin: auto;
  
  
    border: 20px solid #EAF0F6;
  
  
    border-radius: 50%;
  
  
    border-top: 20px solid var(--laranja);
  
  
    width: 200px;
  
  
    height: 200px;
  
  
    animation: spinner 4s linear infinite;
  
  
  }
  
  
   
  
  
  @keyframes spinner {
  
  
    0% { transform: rotate(0deg); }
  
  
    100% { transform: rotate(360deg); }
  
  
  }



