{% extends 'base.html' %}

{% block title %}Casa de Cultura - Cadastro{% endblock title %}

{% block content %}

{{ all_logged_dates|json_script:"all_logged_dates" }}

{{ event_dates|json_script:"event_dates" }}

{{ event_images|json_script:"event_images" }}


<div class="px-3">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Evento</h2>
        <p class="mt-2 text-lg leading-8 text-gray-600">Informe os dados do evento que deseja realizar na Casa de Cultura Osvaldo Krames</p>
      </div>
      <form action="/cadastro-eventos" method="POST" class="mx-auto mt-16 max-w-6xl sm:mt-20" enctype="multipart/form-data">
        {% csrf_token %}
        <input hidden id="event_id" name="event_id" class="display: none"  value="{{event.id}}">
        <div id="form_body_general" class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-3">
          <div class="sm:col-span-3">
            <label for="nome" class="block text-sm font-semibold leading-6 text-gray-900">Evento*</label>
            <div class="mt-2.5">
              <input required type="text" name="nome" id="nome" x-model="event_title" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
              invalid:border-pink-500 invalid:text-pink-600
              focus:invalid:border-pink-500 focus:invalid:ring-pink-500"
              value="{{event.nome}}">
            </div>
          </div>
          <div class="sm:col-span-3">
            <label for="Descricao" class="block text-sm font-semibold leading-6 text-gray-900">Descricao*</label>
            <div class="mt-2.5">
              <textarea required name="descricao" id="Descricao" rows="4" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
              invalid:border-pink-500 invalid:text-pink-600
              focus:invalid:border-pink-500 focus:invalid:ring-pink-500" >{{event.descricao}}</textarea>
            </div>
          </div>
          <div class="sm:col-span-3">
            <label for="preco" class="block text-sm font-semibold leading-6 text-gray-900">Preço</label>
            <div class="mt-2.5">
              <input type="number" name="preco" id="preco"  class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
              invalid:border-pink-500 invalid:text-pink-600
              focus:invalid:border-pink-500 focus:invalid:ring-pink-500"
               {% if event.gratuito %} disabled {%else%} value="{{event.preco_ingresso|floatformat:"2u"}}" {% endif %}>
            </div>
          </div>
          
            
          
          
        </div>
        <div class="mt-6 space-y-6">
          <div class="relative flex gap-x-3">
            <div class="flex h-6 items-center">
              <input id="gratuito" name="gratuito" type="checkbox" onclick="free_event_check()" value="gratuito" {% if event.gratuito %} checked {% endif %}
                class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" >
            </div>
            <div class="text-sm leading-6">
              <label for="gratuito" class="font-medium text-gray-900">Gratuito</label>
              <p class="text-gray-500">Selecione quando seu evento não cobrará entrada.</p>
            </div>
          </div>
          
          <div class="relative flex gap-x-3">
            <div class="flex h-6 items-center">
              <input id="meia" name="meia" type="checkbox" value="meia" {% if event.ingresso_meia %} checked {% endif %}
              class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none">
            </div>
            <div class="text-sm leading-6">
              <label for="meia" class="font-medium text-gray-900">Meia entrada</label>
              <p class="text-gray-500">Selecione quando seu evento aceita desconto de meia entrada.</p>
            </div>
          </div>
          <div class="relative flex gap-x-3">
            <div class="flex h-6 items-center">
              <input id="comunitario" name="comunitario" type="checkbox" {% if event.ingresso_comunitario %} checked {% endif %} 
              class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none">
            </div>
            <div class="text-sm leading-6">
              <label for="comunitario" class="font-medium text-gray-900">Comunitário</label>
              <p class="text-gray-500">Selecione quando seu evento aceitar receber alimentos ou brinquedos como ingresso.</p>
            </div>
          </div>

          <label for="thumbnail" class="block text-sm font-semibold leading-6 text-gray-900">Imagens*</label>

          <div class="text-gray-600 text-sm mb-0">
          {% if event.id %}
          
            Não realize alterações caso não deseje sobrescrever as imagens atuais
          
          {% endif %}
          {% include 'imageUpload.html' %}
          </div>
          <label for="data" class="block text-sm font-semibold leading-6 text-gray-900">Datas*</label>
        </div>

        <div class="date-picker">
          {% include 'calendar.html' %}
        </div>

        
        <div class="mt-10">
          <button type="submit" class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Enviar</button>
        </div>
      </form>
</div> 

{% if event.id %}
<script src="/static/edit_cad_event.js"></script>
{% endif %}
    

{% endblock content %}