<div class="banner-image grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="flex justify-center">
        <label class="picture" for="picture__input" tabIndex="0">
            <span class="picture__image">Escolha uma imagem para o banner</span>
        </label>

        <input type="file" name="picture__input" id="picture__input" accept="image/png, image/jpeg, image/jpg"
            onchange="imagePreview()">
    </div>
    <div class="flex justify-center">
        <textarea id="message" rows="4"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 min-h-full resize-none"
            placeholder="Descrição da imagem"></textarea>
    </div>
</div>


<div class="grid grid-cols-1 md:grid-cols-3 mt-6">
    <div class="flex h-48">
        <label class="picture" for="pictures_event_input" tabIndex="0">
            <span class="picture_event">Escolha outras imagens para o evento 
            </br>
                <span style="font-size: 10px;">(você pode selecionar várias imagens de uma só vez)</span>
            </span>
        </label>

        <input type="file" name="pictures_event_input" id="pictures_event_input"
            accept="image/png, image/jpeg, image/jpg" onchange="imageAddEvents()" multiple>
    </div>
    <div id="event-images" class="flex col-span-2 auto-cols-max overflow-y-hidden h-48 md:ml-3 border border-gray-300"
        onwheel="horizontalScroll(event)">
    </div>
</div>